/*
Course: SENG513
Date: Oct 2nd
Assignment 1
Name: Joy Wang
UCID 30102919
 */

.video{
    position: relative;
    background-color: #25274D;
    padding: 10vw 4vw 6vw 4vw;
}

.custom_tech{
    margin: 5vw;
}

.custom_tech h2{
    text-align: center;
    margin: 5vw;
}

.custom_tech_container{
    display: flex;
    text-align: left;
    vertical-align: after-edge;
    justify-content: space-between;
}

.custom_tech_container div{
    margin: 2vw;
}

.custom_tech_container p, .custom_tech_container h3{
    padding: 1vw 1vw 2vw 0;
}

.custom_tech_container button {
    width: auto;
    padding: 2vw;
}

@media only screen and (max-width: 680px) {
    .video{
        padding-top: 15vw;
    }

    .custom_tech{
        margin: 0;
    }

    .custom_tech h2{
        margin: 10vw 0 10vw 0;
        font-size: 5vw;
    }

    .custom_tech_container{
        display: flex;
        flex-direction: column;
        margin: 0 0 10vw 0;
    }

    .custom_tech_container div{
        margin: 0;
        padding-bottom: 10vw;
    }

    .custom_tech_container p, .custom_tech_container h3{
        margin: 4vw;
        font-size: 4vw;
        font-weight: normal;
        padding: 1vw 1vw 0 0;
    }

    .custom_tech_container button{
        margin: 4vw;
        padding: 4vw;
        font-size: 3vw;
    }
}

@media only screen and (min-width: 1280px) {
    .video {
        padding: 6vw 4vw 3vw 4vw;
    }

    .custom_tech{
        margin: 5vw;
    }

    .custom_tech_container {
        display: inline-grid;
        grid-gap: 2vw;
        grid-template-areas:
            "a_pic v_pic l_pic"
            "a_title v_title l_title"
            "a_info v_info l_info"
            "a_btn v_btn l_btn";
    }

    .android img {
        grid-area: a_pic;
    }
    .android h3 {
        grid-area: a_title;
    }
    .android p {
        grid-area: a_info;
    }
    .android button {
        grid-area: a_btn;
    }

    .vr img {
        grid-area: v_pic;
    }
    .vr h3 {
        grid-area: v_title;
    }
    .vr p {
        grid-area: v_info;
    }
    .vr button {
        grid-area: v_btn;
    }

    .laptop img {
        grid-area: l_pic;
    }
    .laptop h3 {
        grid-area: l_title;
    }
    .laptop p {
        grid-area: l_info;
    }
    .laptop button {
        grid-area: l_btn;
    }

    .custom_tech_container div{
        margin: 0;
    }

    .custom_tech_container p {
        font-weight: 400;
        line-height: 2vw;
        padding: 1vw 1vw 1vw 0;
    }

    .custom_tech_container button {
        width: 40%;
        padding: 20px;
    }
}