@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital,wght@0,200;0,400;1,200&display=swap");

*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
}

html{
        font-family: "Titillium Web", sans-serif;
}


@media only screen and (min-width: 1280px) {
    header{
        background-color: #25274D;
        color: white;
        top: 0;
        display: flex;
        font-weight: 100;
        width: 100%;
        justify-content: space-between;
        align-items: center; /* Vertically center the content */
    }

    .Logo{
        letter-spacing: -0.1em;
        margin-left: 5vw;
        margin-right: 2vw;
        font-size: xx-large;
    }

    .italy_small{
        font-size: small;
        font-style: italic;
        margin-right:auto;
    }

    button {
        border: none;
        background-color: #2E9CCA;
        color: #fff;
        cursor: pointer;
        border-radius: 0; /* Make the button corners square */
        padding: 20px 50px 20px 50px;
    }

    header button {
        float: right;
        height: 100%;
    }

    img{
        max-width: 100%;
        height: auto;
    }

    .img-container{
        position: relative;
    }

    .img-text-wrapper {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        top: 4vw;
        left: 4vw;
        color: white;
    }

    .line1{
        font-size: xxx-large;
        padding: 10px;
        font-weight: 500;
    }

    .line2{
        padding: 10px;
        top:1vw;
        font-size: x-large;
        font-weight: 400;
    }

    .introduction{
        margin: 3vw 6vw 3vw 6vw;
    }

    .introduction p{
        padding: 2vw 0 2vw 0;
        font-size: larger;
    }

    .video{
        position: relative;
        background-color: #25274D;
        padding: 5vw 4vw 3vw 4vw;
    }

    .custom_tech{
        text-align: center;
        margin: 5vw;
    }

    .custom_tech_container{
        display: flex;
        text-align: left;
        justify-content: space-between;
    }

    .custom_tech_container img{
        flex: 1; /* Distribute available space equally among images */
        max-width: 100%; /* Ensure images don't exceed container width */
        height: auto; /* Maintain aspect ratio */
    }

    .custom_tech_container div{
        margin: 2vw;
    }

    .custom_tech_container p{
    padding: 1vw 2vw 1vw 0;
    }
}
